.App {
  text-align: center;
  width: 70%;
  margin: 32pt auto 0 auto;
}

button {
  border-radius: 4pt;
  background-color: #008080;
  border: none;
  color: white;
  margin: 8pt;
  padding: 4pt 8pt;
}

input {
  border-radius: 4pt;
  border: 1px solid gray;
  color: #1a1a1a;
  margin: 8pt;
  padding: 4pt 8pt;
}

.MainItem {
  background-color: rgb(216, 216, 216);
  border-radius: 4pt;
  padding: 4pt 16pt;
  border:none;
  color: #1a1a1a;
  text-align: left;
  margin-bottom: 4pt;

}

.MainItem:hover {
  background-color: rgb(231, 231, 231);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
