.App {
  text-align: center;
  max-width: 700pt;
  margin: 32pt auto 0 auto;
}



input {
  border-radius: 4pt;
  border: 1px solid rgb(204, 204, 204);
  color: #1a1a1a;
  margin: 8pt;
  padding: 4pt 8pt;
}

input:hover {
  border: 1px solid rgb(182, 182, 182);
}

.MainItem {
  color: #1a1a1a;
  text-align: left;
  margin-bottom: 4pt;
  display: flex;
  flex-direction: row;
  min-height: 70pt;
  max-height: 100pt;
}

.TextContent {
  margin-left: 16pt;
  flex: 3;
}

.ImgDiv {
  flex: 1;
  max-width: 150pt;
}

img {
  max-width: 100%;
  max-height: 100%;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 12pt;
  margin: 0;
}

h5 {
  color:  #464646;
  margin: 0;
}

button {
  border-radius: 4pt;
  background-color: #008080;
  border: none;
  color: white;
  margin: 8pt;
  padding: 4pt 8pt;
}

button:hover {
  background-color: #009494;
}

#SectionSelection {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    margin: 0;
    border-radius: .5em;
  }
  /*
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }*/
